{% extends '@SuluBlock/form/tailwind_2_layout.html.twig' %}

{%- block csrf_token_widget -%}
    {{ block('hidden_widget') }}
    {% do prepare_component('csrf-token', { id: id, formName: form.parent.vars.name }) %}
{% endblock %}

{%- block checkbox_row -%}
    {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-6')) }) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'role': 'switch', 'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="form-switch">
            {{- form_label(form, null, {'label': ('cookie_consent.'~name~'.title')|trans({}, 'SuluCookieConsentBundle')}) -}}
            {{- form_widget(form, widget_attr) -}}
        </div>
        <p>{{ ('cookie_consent.'~name~'.description')|trans({}, 'SuluCookieConsentBundle') }}</p>
    </div>
{%- endblock checkbox_row -%}

{% block submit_row %}
    <div class="cookie-consent__btn-wrapper">
        {{ block('button_widget') }}
    </div>
{% endblock %}

